body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #34495e;
}

.main {
  transition: 0.5s;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 130px;
  color: #ffffff;
  text-shadow: 3px;
}

.box:hover {
  opacity: 0.5;
}

.b-green {
  background-color: #27ae60;
}

.b-yellow {
  background-color: #f1c40f;
}

.b-red {
  background-color: #e74c3c;
}

.graph {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
  width: 61%;
}

.g-1 {
  width: 61%;
}

.g-2 {
  width: 30%;
}

.social {
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  background-color: white;
  margin-bottom: 25px;
}

/* SIDEBAR */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar {
  height: 100%;
  width: 0px;
  background-color: #1f3244;
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
}

.sidebar a {
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  padding: 10px;
}

.sidebar a:hover {
  color: #ffffff;
  background-color: #818181;
}

.sidebar .closebtn {
  font-size: 35px;
  margin-left: 75%;
  text-align: center;
  padding-top: 5px;
}

.icon {
  display: inline-block;
  margin-left: 5%;
  color: #34495e;
}

/* NOTIFICAÇÃO */
.notification {
  width: 480px;
  right: 0;
  position: fixed;
  margin: 30px;
}

.notification-item {
  background-color: #fff;
  align-items: center;
  border-radius: 5px;
  display: flex;
  box-shadow: -1px 0px 25px 4px #00000057;
  transition: 0.5s;  
  margin-bottom: 20px;
}

.notification-icon{
  background-color: #d80909;
  margin-right: 20px;
  padding: 26px;
  border-radius: 5px 0px 0px 5px;
  color: #fff;
}

.green{
  background-color: green;
}

#font-green{
  color: green;
}

.notification-item h3,
.notification-item h5{
  margin: 10px;
}

.notification-item h3{
  color: #d80909;
}


/* ANIMAÇÃO */
.notification-item:hover{
  transform: scale(0.95);
}