body {
  margin: 0;
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  background-color: #34495e;
}

.main{
  transition: 0.5s;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 130px;
  color: #ffffff;
  text-shadow: 3px;
}

.box:hover{
  opacity: 0.5;
}

  .b-green{
    background-color: #27AE60;
  }

  .b-yellow{
    background-color: #F1C40F;
  }

  .b-red{
    background-color: #E74C3C;
  }



.graph {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  height: 300px;
  background-color: white;
  width: 61%;
}

.g-1{
  width: 61%;
}

.g-2{
  width: 30%;
}

.social {
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  border-radius: 5px;
  width: 92%;
  background-color: white;
  margin-bottom: 25px;
}

/* SIDEBAR */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar{
  height: 100%;
  width: 0px;
  background-color: #1f3244;
  position: fixed; 
  overflow: hidden;
  transition: 0.5s;
}

.sidebar a{
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  padding: 10px; 
}

.sidebar a:hover{
  color: #ffffff;
  background-color: #818181;
}


.sidebar .closebtn{
  font-size: 35px;
  margin-left: 75%;
  text-align: center;
  padding-top: 5px;
}

.icon{
  display: inline-block;
  margin-left: 5%;
  color: #34495e;
}
